@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

@layer components {
  .custom-hover {
    @apply transition-all ease-out duration-200 cursor-pointer;
  }
}
